html,
body,
div,
form,
fieldset,
h1,
h5,
legend {
    margin: 0;
    padding: 0;
    display: block;
}
html,
body,
.page-wrapper {
    min-height: 98vh;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: #c43800 url(bg.cache.red.png) repeat-x scroll 0 0;
    color: #466;
    font: normal 100% "Lucida Sans Unicode", sans-serif;
}

.themeHeader {
    height: 92px;
    min-width: 800px;
}

.title {
    padding: 28px 20px 0 76px;
    width: 125px;
    vertical-align: top;
}

.title h1 {
    color: whitesmoke;
    font: normal 22px Verdana, sans-serif;
}

a {
    color: #007ec5;
    text-decoration: underline;
}

.page-wrapper {
    background: url(topleft.cache.red.transparent.png) no-repeat 0 0;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    background: #FFF url(bgmain.cache.red.png) no-repeat;
    clear: both;
    padding: 12px 12px 0 52px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 800px;
}
/* #007ec5 */
.footer {
    background: #c43800 url(bg.cache.red.png) repeat-x 0 -92px;
    color: #819EA0;
    font-size: 90%;
    line-height: 40px;
    text-align: center;
    white-space: nowrap;
    min-width: 800px;
}

.content {
    min-height: 100%;
    width: 100%;
    max-width: 1200px;
    padding-bottom: 20px;
}

.gone {
    display: none !important;
}