html, body, div, form, fieldset, h1, h5, legend {
    display : block;
    margin : 0;
    padding : 0;
}

html, body, .container {
    min-height: 100vh;    
    margin : 0;
}

*, *::before, *::after {
    box-sizing : border-box;
}

body {
    font : normal 100% 'Lucida Sans Unicode', sans-serif;
    background-color : #677077;
    background-image : url(banner.purple.grey.png), url(foot.purple.grey.png);
    background-repeat : repeat-x, repeat-x;
    background-position : 0 0, 0 bottom;
}

.themeHeader {
    color : #f2b632;
    flex: 0 0 104px;
}

a {
    color : rgb(51, 51, 51);
    text-decoration : underline;
}

.title {
    padding : 28px 20px 0 76px;
    vertical-align : top;
}

.title a {
    color : inherit;
    text-decoration : none;
}

.container {
    display : flex;
    flex-direction : column;
    margin: 0 auto;
    background-color : #b5b5b7;
    background-image : url(banner.purple.grey.png), url(foot.purple.grey.png);
    background-repeat : repeat-x, repeat-x;
    background-position : 0 0, 0 bottom;
}

.content {
    flex : 1;
    padding : 15px;
}

#submit {
    background : #f2b632;
    color : rgb(51, 51, 51);
}

footer {
    background : #b5b5b7 url(foot.purple.grey.png) repeat-x scroll 0 0;
    flex: 0 0 104px;
}

.expand {
    flex-shrink : 0;
    height : 2000px;
}

.gone {
    display : none !important;
}

.highcharts-yaxis-grid .highcharts-grid-line, .highcharts-axis-line, .highcharts-tick {
    stroke : #677077;
}
