{% extends "layout.html" %}

{% block title %} 
    TypeRacer History 
{% endblock %} 

{% block main %}
<div class="text-center">
    <div class="instructions"><b>Instructions:</b> Download your 'race_data.csv' file from <a href="http://data.typeracer.com/pit/race_history">TypeRacer History</a>(only available to premium users)        or <a href="#" onClick="return false;" id="sample">Click Here</a> to see my data.</div>
    <form class="form-inline">
        <div class="form-group center-text">
            <label class="h5" for="files"><strong>Upload your race_data.csv:</strong></label>
            <input type="file" id="files" class="form-control" accept=".csv" required/>
        </div>
        <div class="form-group">
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <div id="chart-wpm" class="gone chart" style="width:100%; height:800px;"></div>
    <div id="chart-acc" class="gone chart" style="width:100%; height:800px;"></div>
</div>
{% endblock %}